@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@500&display=swap');

/* Properties for the main styling of the page */
body {
    background-color: #1E1E1E;
}

/* Main styling for the h1 tag and p tag */
h1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 30px;
    letter-spacing: 0.045em;

    color: #FFFFFF;
}

p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 40px;
    letter-spacing: 0.045em;

    color: #FFFFFF;
}

/* Styling for the navbar properties */
#home {
    color: #C9C9C9;
}

#feedback {
    color: #C9C9C9;
}

#about-us {
    color: #D97A22;
}

#applications {
    color: #C9C9C9;
}

#sources {
    color: #C9C9C9;
}

/* Positioning of the cards div */
.cards {
    position: absolute;
    width: 1920px;
    height: 635.12px;
    left: calc(50% - 1920px/2);
    top: 200px;
}

/* Positioning for the first card */
#card1 {
    left: 85px;
    top: 20px;
}

/* Image properties for the first card */
#scrum_img {
    position: absolute;
    width: 332px;
    height: 414px;
    left: 15px;
    top: 20px;

    border-radius: 33px;
}

/* Title properties for the first card */
#title1 {
    position: absolute;
    width: 240px;
    height: 66px;
    left: calc(50% - 240px/2);
    top: 450px;

    font-weight: 800;
    font-size: 33px;
    line-height: 33px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #000000;
}

/* Name properties for the first card */
#name1 {
    position: absolute;
    width: 250px;
    height: 66px;
    left: calc(50% - 250px/2);
    top: 500px;

    font-weight: 800;
    font-size: 33px;
    line-height: 33px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #000000;
}

/* Positioning for the second card div */
#card2 {
    left: 546px;
    top: 20px;
}

/* Image properties for the second card */
#front1_img {
    position: absolute;
    width: 332px;
    height: 414px;
    left: 15px;
    top: 20px;

    border-radius: 33px;
}

/* Title properties for the second card */
#title2 {
    position: absolute;
    width: 340px;
    height: 66px;
    left: calc(50% - 340px/2);
    top: 450px;

    font-weight: 800;
    font-size: 33px;
    line-height: 33px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #000000;
}

/* Name properties for the second card */
#name2 {
    position: absolute;
    width: 250px;
    height: 66px;
    left: calc(50% - 250px/2);
    top: 500px;

    font-weight: 800;
    font-size: 33px;
    line-height: 33px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #000000;
}

/* Positioning for the third card div */
#card3 {
    left: 1008px;
    top: 20px;
}

/* Image properties for the third card */
#front2_img {
    position: absolute;
    width: 332px;
    height: 414px;
    left: 15px;
    top: 20px;

    border-radius: 33px;
}

/* Title properties for the third card */
#title3 {
    position: absolute;
    width: 340px;
    height: 66px;
    left: calc(50% - 340px/2);
    top: 450px;

    font-weight: 800;
    font-size: 33px;
    line-height: 33px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #000000;
}

/* Name properties for the third card */
#name3 {
    position: absolute;
    width: 250px;
    height: 66px;
    left: calc(50% - 250px/2);
    top: 500px;

    font-weight: 800;
    font-size: 33px;
    line-height: 33px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #000000;
}

/* Positioning for the fourth card div */
#card4 {
    left: 1470px;
    top: 20px;
}

/* Image properties for the fourth card */
#designer_img {
    position: absolute;
    width: 332px;
    height: 414px;
    left: 15px;
    top: 20px;

    border-radius: 33px;
}

/* Title properties for the fourth card */
#title4 {
    position: absolute;
    width: 340px;
    height: 66px;
    left: calc(50% - 340px/2);
    top: 450px;

    font-weight: 800;
    font-size: 33px;
    line-height: 33px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #000000;
}

/* Name properties for the fourth card */
#name4 {
    position: absolute;
    width: 250px;
    height: 66px;
    left: calc(50% - 250px/2);
    top: 500px;

    font-weight: 800;
    font-size: 33px;
    line-height: 33px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #000000;
}

/* Properties for a individual card */
.flip-card {
    background-color: transparent;
    perspective: 1000px;
    position: absolute;
    width: 364.58px;
    height: 600px;

    border-radius: 33px;
}

/* Properties for the animation of the flipping card */
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* This settings are included in the animation for the flipping card */
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
    border-radius: 33px;
}

/* This settings are for the layout of the flipped card */
.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 33px;
}

/* This settings are for the layout of the front of the flipped card */
.flip-card-front {
    background-color: rgba(240, 240, 240, 0.941176);
    color: black;
}

/* This settings are for the layout of the back of the flipped card */
.flip-card-back {
    background-color: rgba(240, 240, 240, 0.5);
    color: white;
    transform: rotateY(180deg);
}

/* This settings are for the h1 text in the back of the card */
.flip-card-back h1 {
    width: 330px;
    position: absolute;
    left: calc(50% - 330px/2);
    top: 50px;
    text-align: center;
}

/* This settings are for the p text in the back of the card */
.flip-card-back p {
    position: absolute;
    top: 300px;
    left: 47px;
    text-align: center;
}