@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@500&display=swap');

/* Main properties for the page */
body {
    background-color: #1E1E1E;
}

/* Styling for the navbar */
#home {
    color: #C9C9C9;
}

#feedback {
    color: #C9C9C9;
}

#about-us {
    color: #C9C9C9;
}

#applications {
    color: #C9C9C9;
}

#sources {
    color: #C9C9C9;
}

/* Properties for all h1 and p tags */
h1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 70px;
    line-height: 24px;
    letter-spacing: 0.045em;

    color: #FFFFFF;
}

p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    letter-spacing: 0.045em;

    color: #FFFFFF;
}

/* Positioning for the h1 tag in first-info div */
.first-info h1 {
    position: absolute;
    width: 1000px;
    height: 420px;
    left: 100px;
    top: 150px;
    text-align: left;
}

/* Positioning for the p tag in the first-info div */
.first-info p { 
    position: absolute;
    width: 1000px;
    height: 420px;
    left: 100px;
    top: 250px;
    text-align: left;
}

/* Positioning and size of the img tag in the first-info div */
#ai1 {
    position: absolute;
    width: 600px;
    height: 350px;
    right: 100px;
    top: 200px;

    border-radius: 33px;
}

/* Positioning for the h1 tag in second-info div */
.second-info h1 {
    position: absolute;
    width: 335px;
    height: 420px;
    right: 160px;
    top: 650px;
    text-align: left;
}

/* Positioning for the p tag in second-info div */
.second-info p {
    position: absolute;
    width: 1000px;
    height: 420px;
    right: 100px;
    top: 750px;
    text-align: right;
}

/* Positioning for the img tag in second-info div */
#ai2 {
    position: absolute;
    width: 600px;
    height: 350px;
    left: 100px;
    top: 700px;

    border-radius: 33px;
}

/* Positioning for the h1 tag in third-info div */
.third-info h1 {
    position: absolute;
    width: 1000px;
    height: 420px;
    left: 100px;
    top: 1150px;
    text-align: left;
}

/* Positioning for the p tag in third-info div */
.third-info p {
    position: absolute;
    width: 1000px;
    height: 420px;
    left: 100px;
    top: 1250px;
    text-align: left;
}

/* Positioning for the img tag in third-info div */
#ai3 {
    position: absolute;
    width: 600px;
    height: 350px;
    right: 100px;
    top: 1240px;

    border-radius: 33px;
}

/* Positioning for the h1 tag in fourth-info div */
.fourth-info h1 {
    position: absolute;
    width: 431px;
    height: 420px;
    right: 120px;
    top: 1650px;
    text-align: left;
}

/* Positioning for the p tag in fourth-info div */
.fourth-info p {
    position: absolute;
    width: 1000px;
    height: 220px;
    right: 100px;
    top: 1750px;
    text-align: right;
}

/* Positioning for the img tag in fourth-info div */
#ai4 {
    position: absolute;
    width: 600px;
    height: 350px;
    left: 100px;
    top: 1670px;

    border-radius: 33px;
}