@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@500&display=swap');

body {
    background-color: #1E1E1E;
}

#home {
    color: #C9C9C9;
}

#feedback {
    color: #C9C9C9;
}

#about-us {
    color: #C9C9C9;
}

#applications {
    color: #C9C9C9;
}

#sources {
    color: #C9C9C9;
}

h1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 70px;
    line-height: 24px;
    letter-spacing: 0.045em;

    color: #FFFFFF;
}

p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    letter-spacing: 0.045em;

    color: #FFFFFF;
}

.first-info h1 {
    position: absolute;
    width: 1000px;
    height: 420px;
    left: 100px;
    top: 150px;
    text-align: left;
}

.first-info p {
    position: absolute;
    width: 1000px;
    height: 420px;
    left: 100px;
    top: 250px;
    text-align: left;
}

#ai1 {
    position: absolute;
    width: 600px;
    height: 350px;
    right: 100px;
    top: 200px;

    border-radius: 33px;
}

.second-info h1 {
    position: absolute;
    width: 335px;
    height: 420px;
    right: 160px;
    top: 650px;
    text-align: left;
}

.second-info p {
    position: absolute;
    width: 1000px;
    height: 420px;
    right: 100px;
    top: 750px;
    text-align: right;
}

#ai2 {
    position: absolute;
    width: 600px;
    height: 350px;
    left: 100px;
    top: 700px;

    border-radius: 33px;
}

.third-info h1 {
    position: absolute;
    width: 1000px;
    height: 420px;
    left: 100px;
    top: 1150px;
    text-align: left;
}

.third-info p {
    position: absolute;
    width: 1000px;
    height: 420px;
    left: 100px;
    top: 1250px;
    text-align: left;
}

#ai3 {
    position: absolute;
    width: 600px;
    height: 350px;
    right: 100px;
    top: 1240px;

    border-radius: 33px;
}

.fourth-info h1 {
    position: absolute;
    width: 431px;
    height: 420px;
    right: 120px;
    top: 1650px;
    text-align: left;
}

.fourth-info p {
    position: absolute;
    width: 1000px;
    height: 220px;
    right: 100px;
    top: 1750px;
    text-align: right;
}

#ai4 {
    position: absolute;
    width: 600px;
    height: 350px;
    left: 100px;
    top: 1670px;

    border-radius: 33px;
}