@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@500&display=swap');

/* Properties for the layout of the page */
body {
    background-color: #1E1E1E;
}

/* Main settings for h1 tag, p tag and a tag */
h1 {
    font-family: 'Cabin';
    font-style: normal;
    font-weight: 700;
    font-size: 70px;
    line-height: 24px;
    letter-spacing: 0.045em;

    color: #FFFFFF;
}

p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0.045em;

    color: #FFFFFF;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

/* Main styling for the navbar */
#home {
    color: #C9C9C9;
}

#feedback {
    color: #C9C9C9;
}

#about-us {
    color: #C9C9C9;
}

#applications {
    color: #D97A22;
}

#sources {
    color: #C9C9C9;
}

/* Settings for the title on the page */
.applications h1 {
    position: absolute;
    width: 1400px;
    height: 52px;
    left: 317px;
    top: 120px;
}

/* Positioning of the applications div */
.cards {
    position: absolute;
    width: 1337.99px;
    height: 631.12px;
    left: calc(50% - 1337.99px/2 - 0px);
    top: 250px;
}

/* Settings for the first card wich forwards to the first application */
.card1 {
    position: absolute;
    color:#FFFFFF;
    width: 327.99px;
    height: 631.12px;
    left: 50px;
    top: 10px;
    border-radius: 33px;
}

/* Settings for the title of the card */
#title1 {
    position: absolute;
    width: 299px;
    height: 66px;
    left: calc(50% - 299px/2);
    top: 450px;

    font-weight: 800;
    font-size: 38px;
    line-height: 33px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

/* Settings for the image of the card */
#mechatronics {
    position: absolute;
    width: 298.68px;
    height: 414px;
    left: 15px;
    top: 20px;
    border-radius: 33px;
}

/* Settings for the second card wich forwards to the first application */
.card2 {
    position: absolute;
    color:#FFFFFF;
    width: 327.99px;
    height: 631.12px;
    left: 535px;
    top: 10px;
    border-radius: 33px;
}

/* Settings for the title of the card */
#title2 {
    position: absolute;
    width: 299px;
    height: 66px;
    left: calc(50% - 299px/2);
    top: 450px;

    font-weight: 800;
    font-size: 38px;
    line-height: 33px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

/* Settings for the image of the card */
#mechanical {
    position: absolute;
    width: 298.68px;
    height: 414px;
    left: 15px;
    top: 20px;

    background: #7B7A7A;
    border-radius: 33px;
}

/* Settings for the third card wich forwards to the first application */
.card3 {
    position: absolute;
    color:#FFFFFF;
    width: 327.99px;
    height: 631.12px;
    left: 1030px;
    top: 10px;
    border-radius: 33px;
}

/* Settings for the title of the card */
#title3 {
    position: absolute;
    width: 299px;
    height: 66px;
    left: calc(50% - 299px/2);
    top: 450px;

    font-weight: 800;
    font-size: 38px;
    line-height: 33px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

/* Settings for the image of the card */
#ai {
    position: absolute;
    width: 298.68px;
    height: 414px;
    left: 15px;
    top: 20px;
    border-radius: 33px;
}