@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Galada&display=swap');

body {
    background-color: #6ad2f5;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    padding: 0px;
    margin-top: 0px;
}

.topnav {
    position: relative;
    width: 100vw;
    height: 110px;
    display: flex;

    align-items: center;
    justify-content: center;
    background: #F99B1D;
}

.robotext {
    position: absolute;
    width: 150px;
    height: 33px;
    top: 20%;
    font-family: 'Galada';
    font-style: normal;
    font-weight: 400;
    text-align: center;
    font-size: 32px;
    line-height: 52px;

    color: #FFFFFF;

    text-shadow: 0px 4px 10px #EF3124;
}

.juicer {
    position: absolute;
    width: 120px;
    height: 120px;
    top: -15%;
    display: block;
    margin-left: auto;
    margin-right: 13%;
}

.menu {
    position: absolute;
    width: 150px;
    height: 90px;
    bottom: 0px;
    left: 0%;
    display: flex;

    align-items: center;
    background: #F15523;
    border-top-right-radius: 250%;
}

.menu button {
    position: relative;
    background: none;
    color: white;
    left: 0px;
    border: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 18px;
}

.lemon1 {
    position: relative;
    width: 350px;
    height: 110px;
    left: -40%;
    background: url(../img/lemon.png);
}

.lemon2 {
    position: relative;
    width: 68px;
    height: 50px;
    bottom: -27%;
    left: -42%;
}

.lemon3 {
    position: absolute;
    width: 450px;
    height: 110px;
    left: 20%;
}

.peroff {
    position: absolute;
    top: 0%;
    left: 12.5%;
    height: 90px;
    width: 180px;
    border-radius: 150px 150px 0 0;
    background-color: #F15523;
    rotate: -180deg;
}

.peroff h1 {
    position: absolute;
    width: 107px;
    height: 56px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 17px;
    text-align: center;
    top: 15%;
    left: 20%;
    color: #FFFFFF;
    rotate: 180deg;
}



/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}