@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body {
    background-color: #1E1E1E;
}

h1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 70px;
    line-height: 24px;
    letter-spacing: 0.045em;

    color: #FFFFFF;
}

p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0.045em;

    color: #FFFFFF;
}

.maintext {
    position: absolute;
    width: 640px;
    height: 200px;
    left: calc(50% - 640px/2);
    top: 452px;
}

.maintext h1 {
    position: absolute;
    width: 640px;
    height: 148px;
    top: -250px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 148px;
    line-height: 148px;
    /* identical to box height, or 53% */

    text-align: center;
    letter-spacing: -0.01em;

    background: linear-gradient(91.36deg, #0075FF 34.69%, #003F9D 66.45%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.maintext p {
    position: absolute;
    width: 493px;
    height: 148px;
    left: calc(50% - 493px/2);

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
    /* identical to box height, or 117% */

    text-align: center;

    color: #FFFFFF;

    mix-blend-mode: normal;
    opacity: 0.88;
}

.ellipse {
    position: absolute;
    width: 433px;
    height: 411px;

    background: linear-gradient(90deg, #00FF29 0%, #222AD9 100%);
    mix-blend-mode: normal;
    filter: blur(189px);
}

#ell1 {
    left: -37px;
    top: -110px;
}

#ell2 {
    right: 0px;
    top: 600px;
}

#ell3 {
    left: 0px;
    top: 2327px;
}

#ell4 {
    right: 0px;
    top: 3270px;
}

#ell5 {
    left: 34px;
    top: 4560px;
}

#ell6 {
    right: 0px;
    top: 6003px;
}

#ell7 {
    left: 0px;
    top: 6898px;
}

.about h1 {
    position: absolute;
    left: 209px;
    top: 2533px;
    width: 800px;
    height: 24px;
    text-shadow: 0px 4px 0px #000000;
}

.about p {
    position: absolute;
    width: 491px;
    height: 420px;
    left: 1252px;
    top: 2683px;
    text-align: right;
}

.about_img {
    position: absolute;
    width: 1099px;
    height: 683px;
    left: 99px;
    top: 2656px;

    background: url(../img/robot.png);
    border-radius: 33px;
}

.history h1 {
    position: absolute;
    width: 338px;
    height: 40px;
    left: 1405px;
    top: 3476px;

    text-align: center;
    text-shadow: 0px 4px 0px #000000;
}

.history p {
    position: absolute;
    width: 961px;
    height: 844px;
    left: 99px;
    top: 3618px;
}

.history ol {
    position: absolute;
    width: 893px;
    height: 235px;
    left: 148px;
    top: 4239px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 40px;

    letter-spacing: 0.045em;

    color: #FFFFFF;
}

.history_img {
    position: absolute;
    width: 726px;
    height: 919px;
    left: 1093px;
    top: 3591px;

    background: url(../img/robot4.png);
    border-radius: 33px;
}