@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@500&display=swap');

body {
    background-color: #1E1E1E;
}

h1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 70px;
    line-height: 24px;
    letter-spacing: 0.045em;

    color: #FFFFFF;
}

p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0.045em;

    color: #FFFFFF;
}

nav {
    position: absolute;
    width: 602px;
    height: 162.89px;
    left: 1189px;
    top: 70.1px;
}

#home {
    position: absolute;
    left: 88.33%;
    right: 6.72%;
    top: 0.97%;
    bottom: 96.81%;

    font-family: 'Cabin';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 24px;

    text-decoration: none;
    color: #0075FE;
}

#feedback {
    position: absolute;
    left: 75.94%;
    right: 17.14%;
    top: 0.96%;
    bottom: 96.82%;

    font-family: 'Cabin';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 24px;

    text-decoration: none;
    color: #C9C9C9;
}

.maintext {
    position: absolute;
    width: 640px;
    height: 200px;
    left: calc(50% - 640px/2);
    top: 452px;
}

.maintext h1 {
    position: absolute;
    width: 640px;
    height: 148px;
    top: -250px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 148px;
    line-height: 148px;
    /* identical to box height, or 53% */

    text-align: center;
    letter-spacing: -0.01em;

    background: linear-gradient(91.36deg, #0075FF 34.69%, #003F9D 66.45%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.maintext p {
    position: absolute;
    width: 493px;
    height: 148px;
    left: calc(50% - 493px/2);

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
    /* identical to box height, or 117% */

    text-align: center;

    color: #FFFFFF;

    mix-blend-mode: normal;
    opacity: 0.88;
}

.maintext button {
    position: absolute;
    width: 265px;
    height: 57px;
    left: calc(50% - 265px/2);
    top: 200px;

    background: #003F9D;
    box-shadow: -2px 4px 6px -2px #F0F0F0;
    border-radius: 16px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 40px;

    text-align: center;
    letter-spacing: 0.045em;

    color: #EAEAEA;

    text-shadow: 0px 4px 4px #000000;
}

.ellipse {
    position: absolute;
    width: 433px;
    height: 411px;

    background: linear-gradient(90deg, #00FF29 0%, #222AD9 100%);
    mix-blend-mode: normal;
    filter: blur(189px);
}

#ell1 {
    left: -37px;
    top: -110px;
}

#ell2 {
    right: 0px;
    top: 600px;
}

#ell3 {
    left: 0px;
    top: 2327px;
}

#ell4 {
    right: 0px;
    top: 3270px;
}

#ell5 {
    left: 34px;
    top: 4560px;
}

#ell6 {
    right: 0px;
    top: 6003px;
}

#ell7 {
    left: 0px;
    top: 6898px;
}

.about h1 {
    position: absolute;
    left: 209px;
    top: 2533px;
    width: 800px;
    height: 24px;
    text-shadow: 0px 4px 0px #000000;
}

.about p {
    position: absolute;
    width: 491px;
    height: 420px;
    left: 1252px;
    top: 2683px;
    text-align: right;
}

.about_img {
    position: absolute;
    width: 1099px;
    height: 683px;
    left: 99px;
    top: 2656px;

    background: url(../img/robot.png);
    border-radius: 33px;
}

.history h1 {
    position: absolute;
    width: 338px;
    height: 40px;
    left: 1405px;
    top: 3476px;

    text-align: center;
    text-shadow: 0px 4px 0px #000000;
}

.history p {
    position: absolute;
    width: 961px;
    height: 844px;
    left: 99px;
    top: 3618px;
}

.history ol {
    position: absolute;
    width: 893px;
    height: 235px;
    left: 148px;
    top: 4239px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 40px;

    letter-spacing: 0.045em;

    color: #FFFFFF;
}

.history_img {
    position: absolute;
    width: 726px;
    height: 919px;
    left: 1093px;
    top: 3591px;

    background: url(../img/robot4.png);
    border-radius: 33px;
}

.applications h1 {
    position: absolute;
    width: 825px;
    height: 40px;
    left: 99px;
    top: 4746px;
}

.applications p {
    position: absolute;
    width: 819px;
    height: 1113px;
    left: 995px;
    top: 4890px;
    text-align: right;
}

.applications ul {
    position: absolute;
    width: 819px;
    height: 1113px;
    left: 955px;
    top: 5570px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 40px;
    /* or 111% */

    text-align: right;
    letter-spacing: 0.045em;

    color: #FFFFFF;
}

.applications_img {
    position: absolute;
    width: 857px;
    height: 1080px;
    left: 87px;
    top: 4883px;

    background: url(../img/robot2.png);
    border-radius: 33px;
}

.prosandcons h1 {
    position: absolute;
    width: 1122px;
    height: 40px;
    left: 636px;
    top: 6240px;
}

.prosandcons p {
    position: absolute;
    width: 611px;
    height: 520px;
    left: 87px;
    top: 6425px;
}

.prosandcons_img {
    position: absolute;
    width: 1030px;
    height: 585px;
    left: 802px;
    top: 6450px;

    background: url(../img/robot3.png);
    border-radius: 33px;
}