@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@500&display=swap');

/* Properties for the layout of the page */
body {
    background-color: #1E1E1E;
}

/* Main styling for the navbar */
#home {
    color: #C9C9C9;
}

#feedback {
    color: #C9C9C9;
}

#about-us {
    color: #C9C9C9;
}

#applications {
    color: #C9C9C9;
}

#sources {
    color: #C9C9C9;
}

/* Main settings for h1 tag, p tag and a tag */
h1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 70px;
    line-height: 24px;
    letter-spacing: 0.045em;

    color: #FFFFFF;
}

p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    letter-spacing: 0.045em;

    color: #FFFFFF;
}

/* Positioning for the h1 tag on first info div */
.first-info h1 {
    position: absolute;
    width: 1000px;
    height: 420px;
    left: 100px;
    top: 150px;
    text-align: left;
}

/* Positioning for the p tag on first info div */
.first-info p {
    position: absolute;
    width: 1000px;
    height: 420px;
    left: 100px;
    top: 250px;
    text-align: left;
}

/* Positioning for the img tag on first info div */
#mech1 {
    position: absolute;
    width: 600px;
    height: 350px;
    right: 100px;
    top: 250px;

    border-radius: 33px;
}

/* Positioning for the h1 tag on second info div */
.second-info h1 {
    position: absolute;
    width: 335px;
    height: 420px;
    right: 100px;
    top: 700px;
    text-align: left;
}

/* Positioning for the p tag on second info div */
.second-info p {
    position: absolute;
    width: 1000px;
    height: 420px;
    right: 100px;
    top: 800px;
    text-align: right;
}

/* Positioning for the img tag on second info div */
#mech2 {
    position: absolute;
    width: 600px;
    height: 350px;
    left: 100px;
    top: 710px;

    border-radius: 33px;
}

/* Positioning for the h1 tag on third info div */
.third-info h1 {
    position: absolute;
    width: 1000px;
    height: 420px;
    left: 100px;
    top: 1200px;
    text-align: left;
}

/* Positioning for the p tag on third info div */
.third-info p {
    position: absolute;
    width: 1000px;
    height: 420px;
    left: 100px;
    top: 1300px;
    text-align: left;
}

/* Positioning for the img tag on third info div */
#mech3 {
    position: absolute;
    width: 600px;
    height: 350px;
    right: 100px;
    top: 1200px;

    border-radius: 33px;
}

/* Positioning for the h1 tag on fourth info div */
.fourth-info h1 {
    position: absolute;
    width: 245px;
    height: 420px;
    right: 100px;
    top: 1650px;
    text-align: left;
}

/* Positioning for the p tag on fourth info div */
.fourth-info p {
    position: absolute;
    width: 1000px;
    height: 220px;
    right: 100px;
    top: 1750px;
    text-align: right;
}

/* Positioning for the img tag on fourth info div */
#mech4 {
    position: absolute;
    width: 600px;
    height: 350px;
    left: 100px;
    top: 1650px;

    border-radius: 33px;
}