@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@500&display=swap');

nav {
    position: fixed;
    width: 602px;
    height: 162.89px;
    right: 40px;
    top: 0px;
}

#logo {
    position: absolute;
    width: 113px;
    height: 75px;
    right: 840px;
    top: 10px;
}

#home {
    position: absolute;
    right: 20px;
    top: 40px;

    font-family: 'Cabin';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;

    text-decoration: none;
}

#feedback {
    position: absolute;
    right: 140px;
    top: 40px;

    font-family: 'Cabin';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;

    text-decoration: none;
}

#about-us {
    position: absolute;
    right: 310px;
    top: 40px;

    font-family: 'Cabin';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;

    text-decoration: none;
}

#applications {
    position: absolute;
    right: 640px;
    top: 40px;

    font-family: 'Cabin';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;

    text-decoration: none;
}

#sources {
    position: absolute;
    right: 480px;
    top: 40px;

    font-family: 'Cabin';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;

    text-decoration: none;
}